<div class="masthead">

    <h3 class="muted">Project 42 Shopping Site</h3>

    <!-- /.navbar -->
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <ul class="nav">
                    <li {% if active == 'home' %} class="active" {% endif %} ><a href="#">Home</a></li>
                    <li {% if active == 'sales' %} class="active" {% endif %}><a href="#">Sales</a></li>
                    <li {% if active == 'product' %} class="active" {% endif %}><a href="#">All Products</a></li>
                    <li class="{% if active == 'account' %}active{% endif %} dropdown" >
                        <a href="#">My Account</a>
                            <ul class="dropdown-menu">
                            <li><a href="#">Login</a></li>
                            <li><a href="#">Profile</a></li>
                            <li><a href="#">Cart</a></li>
                            </ul>
                    </li>
                    <li {% if active == 'cart' %} class="active" {% endif %}><a href="#">Shopping Cart</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.navbar -->
</div>