{% extends 'store/base.html' %}

{% block meta_description %}{{ product.meta_description }} {% endblock %}
{% block meta_keywords %}{{ product.meta_keywords }}{% endblock %}
{% block title %}{{ product.name }}{% endblock %}

{% block content %}
        <div class="row">
            <div class="span3">
                <img class="img-polaroid" src="/{{ product.img_url}}" alt="{{ product.image_caption}}">

            </div> <!-- ./span4 -->
            <div class="span7 offset2">
                <h1>{{ product.name }}</h1>
                {% if product.is_onsale %}
                    <h2>Price: $ {{product.onsale_price}} <small>Old Price: $ {{product.default_price}}</small></h2>

                {% else %}
                    <h2>Price: $ {{product.default_price}}</h2>
                {% endif %}
                <hr/>

                <div class="row">
                    <div class="span7">
                        <form action="#" method="post">
                            <input class="input-medium" type="number" name="quantity" value="1">
                            <input type="submit" class="btn btn-large btn-info" value="Add to Cart">
                        </form>
                    </div>
                </div>
                <hr/>

                <div class="row">
                    <div class="span7">
                        <p class="well">{{ product.description }}</p>
                    </div>
                </div>

                <hr/>
                <div class="row">
                    <div class="span1">
                         <span class="label label-info label-xlarge">Brand:</span>
                    </div>
                    <div class="span2">
                        {{product.brand}}
                    </div>

                    <div class="span1 offset1">
                         <span class="label label-info label-xlarge">Category:</span>
                    </div>
                    <div class="span2">
                        {% for c in categories %}
                            <span>{{ c }}</span>
                        {% endfor %}
                    </div>
                </div>
                <hr/>

                <div class="row">
                    <div class="span1">
                        <span class="label label-info">In Stock</span>
                    </div>
                    <div class="span2">
                        <p>{{ product.quantity }}</p>
                    </div>

                    <div class="span1 offset1">
                         <span class="label label-info label-xlarge">Update Date:</span>
                    </div>
                    <div class="span2">
                        <p>{{product.updated_at}}</p>
                    </div>

                </div>

            </div> <!-- ./span8 -->
        </div>
{% endblock %}.