{% extends 'store/base.html' %}
{% load i18n %}
{% block title %}{% trans "About US" %}{% endblock %}

{% block content %}
  <div class="row">

      <div class="span4">
          <h2>{% trans "About US" %}</h2>
          <hr/>

      </div>

      <div class="span4">
          <h2>{% trans "Contact Information" %}</h2>
          <hr/>
      </div>

      <div class="span4">
          <h2>{% trans "Legal Information" %}</h2>
          <hr/>
      </div>



  </div> <!-- first row -->



{% endblock %}