{% extends 'store/base.html' %}
{% load i18n %}
{% block title %}Checkout{% endblock %}

{% block content %}

<h1>Checkout</h1>
<hr/>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody
{% for ci in cart_items %}
        <tr>
            <td>
                <a href="/store/product/{{ci.product.slug}}">{{ci.product.name}}</a>
            </td>
            <td>
                {% if ci.product.is_onsale %}
                   $ {{ci.product.onsale_price}}
                {% else %}
                   $ {{ci.product.default_price}}
                {% endif %}
            </td>
            <td>
                {{ ci.quantity }}
            </td>
            <td>
                $ {{ci.total}}
            </td>
        </tr>
{% endfor %}

    </tbody>
</table>
        <hr/>
        <div class="row">
            <div class="span6 offset6">
                <form action="/account/pay/" method="post">
                    {% csrf_token %}
                    <h2>Total: $ {{cart_subtotal}}</h2>
                    <fieldset>
                        <legend>Shipping Information</legend>
                        <input class="span4" type="text" name="shipping_to" placeholder="Shipping to Whom" required>
                        <textarea class="span4" rows="3" name="shipping_add" id="shipping_add" placeholder="Shipping Address" required></textarea>
                        <input class="span4" type="text" name="shipping_zip" id="shipping_zip" placeholder="Zip Code" required>
                    </fieldset>
                    <input type="hidden" name="cart_id" id="cart_id" value="{{cart_id}}">
                    <input type="hidden" name="total" id="total" value="{{cart_subtotal}}">
                    <hr/>
                    <input type="submit" class="btn btn-success btn-block" name="pay" value="Pay">
                </form>
            </div>
        </div>


{% endblock %}