{% extends 'store/base.html' %}

{% block title%}Register{% endblock %}

{% block content %}
<h1>User Login</h1>
<h2>If you don't have any account, please <a class="btn btn-warning" href="/account/register/">Register</a></h2>
<hr/>

<form action="/account/login/" method="post" class="form-horizontal pager">
    {% csrf_token %}
    <div class="control-group">
        <label class="control-label" for="username">Username</label>

        <div class="controls">
            <input type="text" name='username' id="username" placeholder="Username">
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="password">Password</label>

        <div class="controls">
            <input type="password" name="password" id="password" placeholder="Password">
        </div>
    </div>


    <div class="control-group">
        <div class="controls">
            <button type="submit" class="btn btn-success">Login</button>
        </div>
    </div>
</form>

{% endblock %}