{% extends 'store/base.html' %}
{% load i18n %}
{% block title %}{% trans "Order" %}- {{ order.order_id }}{% endblock %}

{% block content %}

<h1>{% trans "Order Detail" %}</h1>
        <hr/>
<h4>{% trans "OrderID" %}: {{ order.order_id }}</h4>
<h4>{% trans "Order Date" %}: {{ order.created_at}}</h4>
<h4>{% trans "Order Total Price" %}: {{ order.total_price }}</h4>
<hr/>
<div class="well">
    {% trans "Shipping To" %}: {{order.shipping_to}}
    <br/>
    {% trans "Shipping Address" %}: {{order.shipping_add}}
    <br/>
    {% trans "Shipping ZIP Code" %}: {{order.shipping_zip}}
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>{% trans "Product" %}</th>
            <th>{% trans "Price" %}</th>
            <th>{% trans "Quantity" %}</th>
            <th>{% trans "Total" %}</th>
        </tr>
    </thead>
    <tbody
{% for ci in cart_items %}
        <tr>
            <td>
                <a href="/store/product/{{ci.product.slug}}">{{ci.product.name}}</a>
            </td>
            <td>
                {% if ci.product.is_onsale %}
                   $ {{ci.product.onsale_price}}
                {% else %}
                   $ {{ci.product.default_price}}
                {% endif %}
            </td>
            <td>
                {{ ci.quantity }}
            </td>
            <td>
                $ {{ci.total}}
            </td>
        </tr>
{% endfor %}

    </tbody>
</table>
{% endblock %}