/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 0px;
  padding-bottom: 20px;
}
form .line {
    margin-bottom: 5px; //adjust to your liking
}



/* customer style Yuankun LUO */

.carousel-inner > .item > img {
    height: 300px;
    max-height: 300px;
    min-height: 300px;
}

.carousel-caption > p {
    color: black;
}

.carousel-caption > h3 {
    color: black;
}
